<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>兔管家群組名單系統</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" integrity="sha512-F7WyTLiiiPqvu2pGumDR15med0MDkUIo5VTVyyfECR5DZmCnDhti9q5VID02ItWjq6fvDfMaBaDl2J3WdL1uxA==" crossorigin="anonymous" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js' integrity='sha512-PqRelaJGXVuQ81N6wjUrRQelCDR7z8RvKGiR9SbSxKHPIt15eJDmIVv9EJgwq0XvgylszsjzvQ0+VyI2WtIshQ==' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="css/style.css?v1.0.8" />
</head>

<body>
    <div id="main" v-cloak>
        <section>
            <div class="container" id="content">
                <div class="block-heading">
                    <h2 class="col-12 text-truncate">{{groupName}} 簽到名單</h2>
                    <p>此簽到名單僅供檢視，請勿將此名單外流</p>
                </div>
                <div class="row form-style" v-if="AllowLogIn">
                    <div class="simpleInfo">
                        <h3 class="title">
                            共 <span class="bolder-pink"> {{totalList}} </span>筆簽到資料 <button type="button" class="btn btn-info btn-sm" @click="download()"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                                <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
                              </svg> 下載</button>
                        </h3>
                        <div class="form-group mb-2">
                            <input id="userInfo" type="text" class="form-control" placeholder="請輸入搜尋關鍵字" v-model="searchTxt" aria-label="Card Holder" aria-describedby="basic-addon1" />
                        </div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg> 快速搜尋:</div>
                        <div class="searchTag">
                            <button type="button" class="btn btn-info margin" @click="searchTxt=''">
                  ALL
                </button>
                            <button type="button" class="btn btn-info" v-for="(item,index) in workList" :key="index" @click="setUserInfo(item)">
                  <span>{{item.work}}</span> <span>: {{item.total}} </span>
                </button>
                        </div>
                        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
                            <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                          </svg> 排序:</p>
                        <!-- Single button -->
                        <div class="dropdown" v-if="headList">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{headList[sortby]}}
                </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li v-for="(item, index) in headList" :key="index"><a class="dropdown-item" href="#" @click="changeSort(index)">{{item}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="detailform">
                        <div id="table-demo" class="table-responsive" v-if="search_List">
                            <table class="with-header table table-striped" style="table-layout: fixed; overflow: break-word">
                                <tbody>
                                    <tr class="bold">
                                        <td class="table__cell text-left" role="columnheader" v-for="(item, index) in headList" :key="index">{{item}}</td>

                                    </tr>
                                    <tr v-for="(item,index) in search_List" :key="index">
                                        <td :data-th="headList[tdindex]" style="word-wrap: break-word; word-break: break-all" v-for="(td, tdindex) in item" :key="tdindex">{{td}}<a v-if="haveOldData(td,tdindex)" class="btn btn-sm" @click="getOldInfo(td)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                          </svg></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div v-if="windowInfo" class="modal fade" id="staticBackdrop"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">{{windowInfo.userName}} 更名紀錄</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p v-for="(item,index) in windowInfo.history" :key="index">{{item}}</p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row form-style" v-if="!AllowLogIn">
                    <div class="simpleInfo center">
                        <p class="danger">群組/驗證碼 參數錯誤</p>
                    </div>
                </div>
                <div class="copyright">
                    Copyright © 2021 兔管家工作室 All Rights Reserved. v1.1.2
                </div>
            </div>
        </section>
    </div>

    <!-- <script src="js/vue.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
 https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-analytics.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.16.1-2020615181619/firebase-firestore.min.js"></script>

    <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
            apiKey: "AIzaSyBIxBz_HgjGg07iQl7DczEZBfuwqImr06E",
            authDomain: "linebot-roo.firebaseapp.com",
            projectId: "linebot-roo",
            storageBucket: "linebot-roo.appspot.com",
            messagingSenderId: "128011934556",
            appId: "1:128011934556:web:e039092143c07730683f99",
            measurementId: "G-Q2VQKFCFM5",
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
        var db = firebase.firestore();
        var url = window.location.href;
        var params = "";
        if (url.indexOf("?") != -1) {
            params = "?" + url.split("?")[1].toString();
        }
    </script>

    <script src="js/index.js?v1.1.3"></script>
</body>

</html>